<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="/css/style.css">
    
</head>
<body>
<div>

{{>header}}

    <h1>{{name}}</h1>


<form>
<input type="=text" id="" placeholder="Enter Location">
<button id="">Search</button>

</form>

<p id="forecaste"></p>
<p id ="location"></p>

</div>
    {{>footer}}
    
<script src="/js/app.js"></script>
</body>



</html>